/* src/index.css */
@import './styles/tailwind.css';

body {
    background-color: #000;
    color: #fff;
}


/* Base masonry grid setup */
.folder-grid {
    column-gap: 1rem;
    /* Adjust the gap between columns */
    padding: 2rem;
    column-count: 2;
    /* Start with one column for mobile views */
}

/* Responsive column adjustments */
@media (min-width: 640px) {

    /* Tailwind's 'sm' breakpoint */
    .folder-grid {
        column-count: 2;
    }
}

@media (min-width: 768px) {

    /* Tailwind's 'md' breakpoint */
    .folder-grid {
        column-count: 3;
        /* Originally grid-cols-3, retained here for medium screens */
    }
}


@media (min-width: 1024px) {

    /* Tailwind's 'lg' breakpoint */
    .folder-grid {
        column-count: 3;
        /* Reduce to fewer columns for larger displays */
    }

    .folder-cover img {
        width: auto;
        /* Adjust width */
        max-width: 100%;
        /* Ensure it doesn't exceed the container width */
        height: auto;
        /* Adjust height to maintain aspect ratio */
    }
}

@media (min-width: 1280px) {

    /* Tailwind's 'xl' breakpoint */
    .folder-grid {
        column-count: 3;
        /* Further reduce for very large displays */
    }
}


.folder-cover {
    break-inside: avoid;
    /* Prevents items from splitting across columns */
    margin-bottom: 10rem;
    /* Adds space below each folder */
    display: inline-block;
    /* Ensures the break-inside works correctly */
    width: 100%;
    /* Ensures covers take full width of the column */
}

/* Additional styling for hover effects and transitions */
.folder-cover:hover {
    transform: scale(1.03);
    /* Slight zoom effect on hover */
    transition: transform 300ms ease-in-out;
}